# Node modules
node_modules/

# Build output
.next/

# Production
out/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Env files
.env*

# Editor directories and files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Husky
.husky/_/

# Misc
coverage/

# Tailwind JIT cache
.tailwind-cache/

# Lint-staged
*.lintstagedrc*

# Optional: lock files (uncomment if you want to ignore them)
package-lock.json
yarn.lock
pnpm-lock.yaml
data_to_be_taken_from_this_site/